@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Cardo&family=Fraunces&family=Fredoka:wght@600&family=Hind+Madurai:wght@600&family=Hind+Siliguri&family=Inter:wght@400;600&family=Lilita+One&family=Open+Sans&family=Poppins:wght@500&family=Roboto&family=Yellowtail&display=swap");
* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
}

header {
  width: 1515px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: "REM", sans-serif;
}
header .header-bg {
  width: 1515px;
  height: 900px;
  background-image: url(/img/header-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  height: 10%;
}
header nav .nav_main_menu {
  list-style: none;
  display: flex;
}
header nav .nav_main_menu li {
  width: 230px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #2f327d;
  letter-spacing: 0.44px;
  opacity: 0.8;
}
header nav .nav_main_menu li:hover {
  cursor: pointer;
  color: #fc377e;
}
header nav button {
  padding: 16px 32px;
  border-radius: 80px;
  background: #fc377e;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  box-shadow: 0px 8px 40px 0px rgba(210, 77, 101, 0.26);
}
header nav .menu_item {
  display: none;
}
header .header-hero {
  display: flex;
  margin-top: 50px;
  width: 95%;
  height: 600px;
}
header .header-hero .header-hero-left {
  margin-left: 15px;
  width: 50%;
  height: 100%;
}
header .header-hero .header-hero-left h1 {
  color: #2f327d;
  font-family: Gilroy;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}
header .header-hero .header-hero-left h1 span {
  color: #fc377e;
  font-family: Gilroy;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}
header .header-hero .header-hero-left h3 {
  margin-top: 32px;
  color: #2f327d;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
header .header-hero .header-hero-left h3 span {
  color: #fc377e;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}
header .header-hero .header-hero-left ul {
  margin-top: 16px;
  margin-left: 25px;
  list-style-image: url(/img/header-point.png);
}
header .header-hero .header-hero-left ul li {
  color: #2f327d;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.8;
}
header .header-hero .header-hero-left button {
  margin-top: 20px;
  padding: 24px 40px;
  border-radius: 80px;
  border: none;
  background: #fc377e;
  box-shadow: 0px 8px 40px 0px rgba(210, 77, 101, 0.26);
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}
header .header-hero .header-hero-right {
  position: relative;
  width: 50%;
  height: 100%;
}
header .header-hero .header-hero-right img {
  margin-top: -90px;
  margin-left: -90px;
  width: 950px;
  height: 700px;
}

@media screen and (max-width: 360px) {
  header {
    max-width: 370px;
    height: 1230px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .header-bg {
    width: 100%;
    height: 100%;
  }
  header nav {
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
  }
  header nav .nav_main_menu {
    display: none;
  }
  header nav button {
    display: none;
  }
  header nav .menu_item {
    margin-right: 5px;
    display: block;
  }
  header .header-hero {
    margin-top: 100px;
    width: 370px;
  }
  header .header-hero .header-hero-left {
    width: 4000px;
  }
  header .header-hero .header-hero-left h1 {
    line-height: 48px;
    text-align: center;
    font-size: 32px;
  }
  header .header-hero .header-hero-left h1 span {
    font-size: 32px;
  }
  header .header-hero .header-hero-left h3 {
    margin-top: 470px;
    width: 328px;
    font-size: 20px;
    line-height: 160%;
  }
  header .header-hero .header-hero-left h3 span {
    width: 328px;
    font-size: 20px;
    line-height: 160%;
  }
  header .header-hero .header-hero-left ul {
    margin-top: 16px;
  }
  header .header-hero .header-hero-left ul li {
    font-size: 16px;
  }
  header .header-hero .header-hero-left button {
    margin-top: 30px;
    margin-left: 5px;
  }
  header .header-hero .header-hero-right img {
    margin-top: 150px;
    margin-left: -410px;
    width: 527px;
    height: 384px;
  }
}
.rabota {
  width: 1520px;
}

.webcam {
  width: 1520px;
}

.vapros {
  width: 1520px;
}

.usloviya {
  width: 1520px;
  margin: 0 auto;
}

.red {
  color: red;
  font-family: "Lilita One", cursive;
  font-size: 50px;
}

.black {
  color: #2F327D;
  font-family: "Lilita One", cursive;
  font-size: 50px;
}

.title {
  text-align: center;
}

h5 {
  font-family: "Lilita One", cursive;
  font-size: 20px;
}

h1 {
  color: #FC377E;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  width: 100%;
  height: 300px;
}

.box {
  width: 400px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px -10px black;
  display: flex;
  align-items: center;
}

.list-icon {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

.list-text {
  width: 200px;
  font-size: 20px;
  margin-left: 20px;
  font-family: "Lilita One", cursive;
  color: #2F327D;
}

@media screen and (max-width: 400px) {
  .box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .list {
    gap: 50px;
  }
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 1640px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
}

.about__container {
  margin-top: 180px;
}

.about__on-box {
  width: 370px;
  height: 42px;
  margin-bottom: -5px;
}

.about__inner-box {
  padding: 80px 45px;
  background-color: #FFECEE;
  border-radius: 0px 32px 32px 32px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 160%;
  color: #2F327D;
  margin-bottom: 50px;
}

.about__sub-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 160%;
  color: #FC377E;
}

.about__list-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__item {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: #5B5B87;
  display: flex;
}

.about__sub-text {
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}

.about__img {
  max-width: 60px;
}

@media screen and (max-width: 1535px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about__inner-box {
    padding: 60px 25px;
  }
}
@media screen and (max-width: 1420px) {
  .about__list-box {
    flex-direction: column;
  }
  .about__container {
    margin-top: 80px;
  }
}
@media screen and (max-width: 800px) {
  .about__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .about__sub-title {
    font-size: 24px;
  }
  .about__item {
    font-size: 16px;
  }
  .about__sub-text {
    font-size: 16px;
  }
  .about__inner-box {
    padding: 32px 16px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .about__sub-text {
    padding-left: 3px;
    padding-right: 3px;
  }
  .about__on-box {
    width: 200px;
    height: 24px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  margin: 0 auto;
  width: 1520px;
}

.h1 {
  color: var(--dark-blue, #2F327D);
  font-family: Gilroy;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 128.571% */
}

.h1:nth-child(2) {
  color: var(--primary, #FC377E);
  font-family: Gilroy;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  position: absolute;
  margin-left: 400px;
  margin-top: -75px;
}

.div {
  margin-left: 380px;
  margin-top: 180px;
}

.again {
  color: var(--gray, #5B5B87);
  text-align: center;
  font-family: Gilroy;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 51.2px */
  margin-left: -300px;
}

.div__box {
  width: 1520px;
  height: 992px;
  flex-shrink: 0;
  border-radius: 80px;
  border: 2px solid var(--bg, #FFECEE);
  background: var(--white, #FFF);
  box-shadow: 0px 15px 44px 0px rgba(13, 15, 28, 0.06);
  margin-top: 72px;
}

.span__box {
  color: var(--dark-blue, #2F327D);
  text-align: center;
  /* H2 */
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 64px */
  padding-left: 80px;
  padding-top: 48px;
}

.span__box:nth-child(2) {
  color: var(--primary, #FC377E);
  /* H2 */
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  position: absolute;
  margin-top: -49px;
  margin-left: -75px;
}

.p__p {
  color: var(--gray, #5B5B87);
  text-align: center;
  /* Body 1 */
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
  margin-left: -930px;
}

.input {
  width: 560px;
  height: 80px;
  border-radius: 40px;
  border: 2px solid var(--bg, #FFECEE);
  margin-left: 80px;
  margin-top: 32px;
}

.place {
  color: var(--gray, #5B5B87);
  /* Body 1 */
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
}

.input4 {
  width: 560px;
  height: 200px;
  border-radius: 40px;
  border: 2px solid var(--bg, #FFECEE);
  margin-left: 80px;
  margin-top: 24px;
}

.btn__select {
  width: 239px;
  height: 56px;
  border-radius: 80px;
  border: 2px solid var(--primary, #FC377E);
  background: #fff;
  color: var(--primary, #FC377E);
  /* btn small */
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-left: 80px;
  margin-top: 40px;
}

.btn__select:hover {
  background: #FC377E;
  color: #fff;
  border: none;
  transition: 0.5s;
}

.p__king {
  color: var(--gray, #5B5B87);
  /* Body 2 */
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  margin-left: 350px;
  margin-top: -40px;
}

.icon2 {
  margin-left: -225px;
  margin-top: 55px;
  position: absolute;
  width: 25px;
  height: 25px;
}

.img-girl {
  width: 200px;
  height: 400px;
}

.btn__use {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: 2px solid var(--primary, #FC377E);
  margin-left: 80px;
  margin-top: 28px;
}

.btn__use:hover {
  background: #FC377E;
  border: none;
  transition: 1.5s;
}

.lost {
  color: var(--gray, #5B5B87);
  /* Body 2 */
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  margin-left: 130px;
  margin-top: -30px;
}

.mrm {
  width: 560px;
  height: 80px;
  border-radius: 80px;
  background: var(--primary, #FC377E);
  /* Pink Shadow */
  box-shadow: 0px 8px 40px 0px rgba(210, 77, 101, 0.26);
  border: none;
  color: var(--white, #FFF);
  text-align: center;
  /* btn */
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  margin-left: 80px;
  margin-top: 24px;
}

.img__last {
  margin-left: 760px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  margin-top: -915px;
  width: 50%;
  height: 50%;
}

@media (max-width: 1260px) {
  .h1:nth-child(2) {
    margin-left: -10px;
    margin-top: 0.1px;
  }
  .again {
    margin-top: 60px;
    margin-left: -700px;
  }
  .img__last {
    width: 328px;
    height: 328px;
    margin-top: -1030px;
    position: absolute;
    margin-left: 440px;
  }
  .div__box {
    margin-top: 350px;
    width: 700px;
    border: none;
  }
  .span__box {
    margin-left: 360px;
  }
  .p__p {
    margin-left: 360px;
    position: absolute;
    margin-top: -20px;
  }
  .input {
    width: 328px;
    height: 56px;
    margin-left: 420px;
  }
  .input4 {
    width: 328px;
    height: 120px;
    margin-left: 420px;
  }
  .p__king {
    margin-left: 460px;
    position: absolute;
    margin-top: -90px;
  }
  .btn__select {
    margin-left: 460px;
  }
  .btn__use {
    margin-left: 390px;
  }
  .lost {
    margin-left: 420px;
    position: absolute;
  }
  .mrm {
    width: 328px;
    height: 56px;
    margin-left: 440px;
  }
}
.footer {
  width: 1520px;
}

/*# sourceMappingURL=main.css.map */
