*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.form{
    margin: 0 auto;
    width: 1520px;
}

.h1{
    color: var(--dark-blue, #2F327D);
    font-family: Gilroy;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 128.571% */
}

.h1:nth-child(2){
    color: var(--primary, #FC377E);
    font-family: Gilroy;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    position: absolute;
    margin-left: 400px;
    margin-top: -75px;
}

.div{
    margin-left: 380px;
    margin-top: 180px;
}

.again{
    color: var(--gray, #5B5B87);
    text-align: center;
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 51.2px */
    margin-left: -300px;
}

.div__box{
    width: 1520px;
    height: 992px;
    flex-shrink: 0;
    border-radius: 80px;
    border: 2px solid var(--bg, #FFECEE);
    background: var(--white, #FFF);
    box-shadow: 0px 15px 44px 0px rgba(13, 15, 28, 0.06);
    margin-top: 72px;
}

.span__box{
    color: var(--dark-blue, #2F327D);
    text-align: center;
    
    /* H2 */
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 64px */
    padding-left: 80px;
    padding-top: 48px;
}

.span__box:nth-child(2){
    color: var(--primary, #FC377E);

    /* H2 */
    font-family: Gilroy;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    position: absolute;
    margin-top: -49px;
    margin-left: -75px;
}

.p__p{
    color: var(--gray, #5B5B87);
    text-align: center;
    
    /* Body 1 */
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    margin-left: -930px;
}

.input{
    width: 560px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid var(--bg, #FFECEE);
    margin-left: 80px;
    margin-top: 32px;
}

.place{
    color: var(--gray, #5B5B87);

    /* Body 1 */
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
}


.input4{
    width: 560px;
    height: 200px;
    border-radius: 40px;
    border: 2px solid var(--bg, #FFECEE);
    margin-left: 80px;
    margin-top: 24px;
}


.btn__select{
    width: 239px;
    height: 56px;
    border-radius: 80px;
    border: 2px solid var(--primary, #FC377E);
    background: #fff;
    color: var(--primary, #FC377E);

    /* btn small */
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-left: 80px;
    margin-top: 40px;
}

.btn__select:hover{
    background: #FC377E;
    color: #fff;
    border:none;
    transition: 0.5s;
}


.p__king{
    color: var(--gray, #5B5B87);

    /* Body 2 */
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    margin-left: 350px;
    margin-top: -40px;

}

.icon2{
    margin-left: -225px;
    margin-top: 55px;
    position: absolute;
    width: 25px;
    height: 25px;
}
.img-girl{
   width: 200px;
   height: 400px;
}
.btn__use{
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 2px solid var(--primary, #FC377E);
    margin-left: 80px;
    margin-top: 28px;
}

.btn__use:hover{
    background: #FC377E;
    border: none;
    transition: 1.5s;
}

.lost{
    color: var(--gray, #5B5B87);

    /* Body 2 */
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    margin-left: 130px;
    margin-top: -30px;
}

.mrm{
    width: 560px;
    height: 80px;
    border-radius: 80px;
    background: var(--primary, #FC377E);
    
    /* Pink Shadow */
    box-shadow: 0px 8px 40px 0px rgba(210, 77, 101, 0.26);
    border: none;
    color: var(--white, #FFF);
    text-align: center;
    
    /* btn */
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.24px;
    margin-left: 80px;
    margin-top: 24px;
}

.img__last{
    margin-left: 760px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    margin-top: -915px;
    width: 50%;
    height: 50%
    
}

@media (max-width:1260px) {
    .h1:nth-child(2){
        margin-left: -10px;
        margin-top: 0.1px;
    }

    .again{
        margin-top: 60px;
        margin-left: -700px;
    }

    .img__last{
        width: 328px;
        height: 328px;
        margin-top: -1030px;
        position: absolute;
        margin-left: 440px;
    }

    .div__box{
        margin-top: 350px;
        width: 700px;
        border: none;
    }

    .span__box{
        margin-left: 360px;
    }

    .p__p{
        margin-left: 360px;
        position: absolute;
        margin-top: -20px;
    }

    .input{
        width: 328px;
        height: 56px;
        margin-left: 420px;
    }

    .input4{
        width: 328px;
        height: 120px;
        margin-left: 420px;
    }

    .p__king{
        margin-left: 460px;
        position: absolute;
        margin-top: -90px;
    }

    .btn__select{
        margin-left: 460px;
    }

    .btn__use{
        margin-left: 390px;
    }

    .lost{
        margin-left: 420px;
        position: absolute;
    }

    .mrm{
        width: 328px;
        height: 56px;
        margin-left: 440px;
    }

    

}